header{
	
	text-align: center;


	
}
#button{text-align: center;}
#tete{background-color:#D7FFF1 ;

}
body{
	background-color: #D7FFF1 ;
}
.selec{
	width: 100%;
	height: 30px;
}
.container{
	width: 100em;
	
	text-align: center;
}
.text
{
	text-shadow: 6px 20px 14px rgba(0, 0, 0, 0.75);
	color: #0080ff;
	
}
.comp{width: 100px;height: 100px;}



ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/*#fond-titre:hover{
	background-color: blue;
	}*/
/*#fond-titre:visited{
	background-color: blue; !important;
	}*/
	#fond-titre:active{
		background-color: blue;
	}
	ul.tabs li{


		display: inline-block;

		cursor: pointer;
		margin:0 0.5em 0 0.5em;

	}

	ul.tabs li.current{
		background: #ededed;
		color: white;
	}

	.tab-content{
		display: none;
		background: #D7FFF1 ;
		padding: 15px;
	}

	.tab-content.current{
		display: inherit;
	}
	.ui.horizontal.divider {
		
		margin: 280px 60px 0px 20px;

	}
	.ui.horizontal.divider a{
		margin-right: 10px;
	}


	.section{
		text-align: center;
		width: 100%;
		height: 950px;
	}